:root {
  /* COLOR */
  --action-critical-default: rgb(255, 59, 48);
  --action-critical-default: rgb(204, 47, 38);
  --action-critical-disabled: rgb(52, 52, 66);
  --action-critical-disabled: rgb(232, 232, 237);
  --action-critical-hovered: rgb(204, 47, 38);
  --action-critical-hovered: rgb(255, 59, 48);
  --action-critical-pressed: rgb(154, 36, 29);
  --action-critical-pressed: rgb(154, 36, 29);
  --action-primary-default: rgb(0, 184, 18);
  --action-primary-default: rgb(0, 184, 18);
  --action-primary-disabled: rgb(232, 232, 237);
  --action-primary-disabled: rgb(52, 52, 66);
  --action-primary-hovered: rgb(103, 213, 114);
  --action-primary-hovered: rgb(0, 147, 14);
  --action-primary-pressed: rgb(0, 111, 11);
  --action-primary-pressed: rgb(0, 111, 11);
  --action-secondary-default: rgb(38, 38, 49);
  --action-secondary-default: rgb(255, 255, 255);
  --action-secondary-disabled: rgb(38, 38, 49);
  --action-secondary-disabled: rgb(255, 255, 255);
  --action-secondary-hovered: rgb(243, 243, 246);
  --action-secondary-hovered: rgb(54, 54, 69);
  --action-secondary-pressed: rgb(232, 232, 237);
  --action-secondary-pressed: rgb(61, 61, 77);
  --Backdrop: rgba(61, 61, 77, 0.75);
  --Backdrop: rgba(107, 107, 128, 0.75);
  --background-default: rgb(243, 243, 246);
  --background-default: rgb(19, 19, 27);
  --background-hovered: rgb(232, 232, 237);
  --background-hovered: rgb(29, 29, 42);
  --background-selected: rgb(38, 38, 49);
  --background-selected: rgb(212, 212, 221);
  --border-critical-default: rgb(204, 47, 38);
  --border-critical-default: rgb(255, 138, 132);
  --border-critical-subdued: rgb(122, 28, 23);
  --border-critical-subdued: rgb(255, 184, 180);
  --border-default: rgb(76, 76, 92);
  --border-default: rgb(212, 212, 221);
  --border-disabled: rgb(232, 232, 237);
  --border-disabled: rgb(61, 61, 77);
  --border-hovered: rgb(140, 140, 161);
  --border-hovered: rgb(160, 160, 176);
  --border-subdued: rgb(232, 232, 237);
  --border-subdued: rgb(61, 61, 77);
  --border-success-subdued: rgb(163, 229, 169);
  --border-success-subdued: rgb(22, 85, 38);
  --border-warning-subdued: rgb(122, 98, 0);
  --border-warning-subdued: rgb(255, 225, 103);
  --decorative-icon-one: rgb(51, 198, 65);
  --decorative-icon-one: rgb(0, 147, 14);
  --decorative-surface-one: rgb(215, 244, 218);
  --decorative-surface-one: rgb(0, 88, 9);
  --Divider: rgb(52, 52, 66);
  --Divider: rgb(243, 243, 246);
  --focused-critical: rgb(255, 59, 48);
  --focused-critical: rgb(255, 98, 89);
  --focused-default: rgb(51, 198, 65);
  --focused-default: rgb(0, 184, 18);
  --icon-critical: rgb(255, 98, 89);
  --icon-critical: rgb(255, 59, 48);
  --icon-default: rgb(140, 140, 161);
  --icon-default: rgb(107, 107, 128);
  --icon-disabled: rgb(72, 72, 91);
  --icon-disabled: rgb(212, 212, 221);
  --icon-hovered: rgb(56, 56, 82);
  --icon-hovered: rgb(244, 244, 247);
  --icon-on-critical: rgb(255, 255, 255);
  --icon-on-critical: rgb(255, 255, 255);
  --icon-on-interactive: rgb(255, 255, 255);
  --icon-on-interactive: rgb(255, 255, 255);
  --icon-on-primary: rgb(255, 255, 255);
  --icon-on-primary: rgb(255, 255, 255);
  --icon-pressed: rgb(226, 226, 232);
  --icon-pressed: rgb(75, 75, 99);
  --icon-subdued: rgb(99, 99, 120);
  --icon-subdued: rgb(160, 160, 176);
  --icon-success: rgb(93, 210, 122);
  --icon-success: rgb(52, 199, 89);
  --icon-warning: rgb(255, 204, 0);
  --icon-warning: rgb(255, 214, 51);
  --interactive-default: rgb(0, 184, 18);
  --interactive-default: rgb(51, 198, 65);
  --interactive-disabled: rgb(235, 249, 236);
  --interactive-disabled: rgb(0, 66, 6);
  --interactive-hovered: rgb(103, 213, 114);
  --interactive-hovered: rgb(0, 147, 14);
  --surface-critical-default: rgb(107, 25, 20);
  --surface-critical-default: rgb(255, 184, 180);
  --surface-critical-subdued: rgb(255, 240, 239);
  --surface-critical-subdued: rgb(73, 17, 14);
  --surface-critical-subdued-hovered: rgb(107, 25, 20);
  --surface-critical-subdued-hovered: rgb(255, 224, 223);
  --surface-default: rgb(38, 38, 49);
  --surface-default: rgb(255, 255, 255);
  --surface-highlight-default: rgb(189, 220, 255);
  --surface-highlight-default: rgb(0, 51, 107);
  --surface-hovered: rgb(44, 44, 58);
  --surface-hovered: rgb(240, 240, 244);
  --surface-neutral-default: rgb(61, 61, 77);
  --surface-neutral-default: rgb(232, 232, 237);
  --surface-neutral-disabled: rgb(44, 44, 58);
  --surface-neutral-disabled: rgb(212, 212, 221);
  --surface-neutral-hover: rgb(220, 220, 229);
  --surface-neutral-hover: rgb(77, 77, 96);
  --surface-neutral-pressed: rgb(211, 211, 222);
  --surface-neutral-pressed: rgb(87, 87, 107);
  --surface-neutral-subdued: rgb(44, 44, 58);
  --surface-neutral-subdued: rgb(240, 240, 244);
  --surface-pressed: rgb(235, 235, 240);
  --surface-pressed: rgb(52, 52, 66);
  --surface-selected: rgb(232, 232, 237);
  --surface-selected: rgb(61, 61, 77);
  --surface-subdued: rgb(29, 29, 42);
  --surface-subdued: rgb(249, 249, 251);
  --surface-success-default: rgb(25, 95, 43);
  --surface-success-default: rgb(182, 235, 195);
  --surface-success-subdued: rgb(235, 249, 236);
  --surface-success-subdued: rgb(16, 61, 27);
  --surface-warning-default: rgb(107, 86, 0);
  --surface-warning-default: rgb(255, 241, 184);
  --surface-warning-subdued: rgb(255, 251, 235);
  --surface-warning-subdued: rgb(77, 62, 0);
  --text-critical: rgb(204, 47, 38);
  --text-critical: rgb(255, 98, 89);
  --text-default: rgb(226, 226, 232);
  --text-default: rgb(31, 31, 56);
  --text-disabled: rgb(88, 88, 106);
  --text-disabled: rgb(160, 160, 176);
  --text-on-critical: rgb(255, 255, 255);
  --text-on-critical: rgb(255, 255, 255);
  --text-on-primary: rgb(255, 255, 255);
  --text-on-primary: rgb(255, 255, 255);
  --text-subdued: rgb(140, 140, 161);
  --text-subdued: rgb(107, 107, 128);
  --text-success: rgb(31, 120, 54);
  --text-success: rgb(52, 199, 89);
  --text-warning: rgb(136, 110, 7);
  --text-warning: rgb(204, 163, 0);
}
